<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form METHOD = "POST" action ="/forgot_password">
        <input type = "text" name ="email" placeholder = "Email Address"/>
        <input type = "submit"/>
      </form>
  </body>
</html>
