
<html>
  <%- include('partials/head.ejs') %>
  <body class = "">
    <div class = "container-div d-flex flex-column justify-content-center align-items-center">
      <div class = "d-flex flex-column align-items-center white-background rounded p-5 vw-50">
        <div class = "">
          <!-- <h1><%= title %></h1> -->
        </div>
        <div class = "mb-5">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
              width="80pt" height="80pt" viewBox="0 0 240.000000 240.000000"
              preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)"
                  fill="#007bff" stroke="#007bff">
                  <path d="M547 2146 c-117 -42 -243 -188 -355 -413 -142 -281 -210 -613 -183
                  -889 16 -163 49 -294 101 -394 154 -294 441 -273 620 47 87 156 116 187 219
                  230 52 21 71 23 251 23 180 0 199 -2 251 -23 103 -43 132 -74 219 -230 85
                  -150 189 -236 312 -253 160 -22 310 130 373 380 70 278 51 581 -56 893 -118
                  342 -318 608 -480 638 -82 15 -222 -33 -343 -119 -97 -70 -131 -80 -276 -80
                  -145 0 -179 10 -276 80 -81 57 -173 101 -243 114 -68 13 -87 12 -134 -4z m192
                  -95 c27 -10 82 -41 122 -69 101 -69 153 -91 254 -103 103 -13 234 1 303 31 26
                  12 80 44 121 72 124 86 235 116 307 82 80 -38 209 -195 288 -352 125 -248 197
                  -570 182 -817 -20 -339 -143 -574 -302 -575 -99 0 -208 85 -278 220 -56 108
                  -100 165 -164 210 -93 67 -153 80 -372 80 -219 0 -279 -13 -372 -80 -64 -45
                  -108 -102 -164 -210 -70 -135 -179 -220 -278 -220 -159 1 -282 236 -302 575
                  -15 247 57 569 182 817 76 152 205 312 284 351 42 21 115 17 189 -12z"/>
                  <path d="M580 1591 c-112 -36 -174 -118 -174 -231 0 -159 139 -267 295 -230
                  97 23 179 129 179 230 0 83 -55 172 -132 211 -45 23 -129 33 -168 20z m148
                  -98 c96 -71 96 -195 1 -266 -36 -26 -106 -33 -150 -14 -20 8 -49 32 -65 53
                  -24 31 -29 47 -29 94 0 46 5 63 27 92 15 19 42 42 60 52 42 21 120 16 156 -11z"/>
                  <path d="M1692 1588 c-8 -8 -12 -45 -12 -100 l0 -87 -91 -3 c-75 -2 -94 -6
                  -103 -20 -8 -13 -8 -23 0 -35 9 -15 28 -19 103 -21 l91 -3 0 -87 c0 -91 8
                  -112 42 -112 28 0 38 33 38 119 l0 81 90 0 c78 0 91 2 100 19 13 25 13 27 -6
                  45 -12 12 -36 16 -100 16 l-84 0 0 84 c0 64 -4 88 -16 100 -19 19 -36 20 -52
                  4z"/>
              </g>
          </svg>
        </div>
       
        <form id = "resetPasswordForm" class = "vw-50">
          <div class = "form-group">
            <input class = "form-control" type = "password" id ="password" placeholder = "New Password" required/>
          </div>
          <div class = "form-group">
            <input class = "form-control" type = "password" id = "confirmPassword" placeholder = "Confirm password" required/>
          </div>
          <input type = "hidden" id = "token" id = "token" value="<%= token%>">
          <div class = "d-flex flex-column align-items-center">
            <input class = "btn btn-primary" value = "RESET" type = "submit"/>
          </div>
        </form>
      
      </div>
    </div> 
    <script src = "/javascripts/auth/resetPassword.js"></script>  
  </body>
</html>